<!DOCTYPE html>

<html>
<head>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>A Place to Remember</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.7/p5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.7/addons/p5.dom.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.7/addons/p5.sound.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/offset.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Quicksand:300,400,500,700" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="container-fluid">

      <div class="row pageTitle">
        <div class="col-xs-12 text-center">
          <h2>How it Works</h2>
        </div>
      </div>

      <div class="row mainDesc">
        <div class="col-xs-10 col-xs-offset-1 text-center">
          <h4>Scan the Placard to see a map of someone’s memory. </h4>
        </div>
      </div>

      <div class="row demoImage1">
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 text-center">
          <img src="/gifs/scan.gif" alt="park" width="90%">
        </div>
      </div>

      <div class="row explanation1">
        <div class="col-xs-10 col-xs-offset-1  text-center">
          <p>Using your phone’s camera to scan the placards around the fountain. Hit play to hear a story.</p>
        </div>
      </div>

      <div class="row headsUp">
        <div class="col-xs-3 col-xs-offset-2 text-right"><img src="/gifs/headphones.gif" alt="park" width="50"></div>
        <div class="col-xs-5 headphones"><h5>Heads Up: You’ll need headphones!</h5></div>
      </div>

      <div class="row mainbtnContainer">
        <div class="col-xs-10 col-xs-offset-1 text-center">
          <!-- <button class="nextButton" type="button" onclick="alert('Hello world!')">Let's do this!</button>  -->
          <a class="nextButton" type="button" href="/marker" role="button" onclick="updateSource()">I got it!</a> 
        </div>
      </div>

  </div>

  <!-- JQuery script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

  <!-- JQuery validate -->
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>

  <!-- <script src="../recorderjs/recorder.js"></script> -->
  <!-- <script src="js/main.js"></script> -->

</body>
</html>