/**************/
/* Custom CSS */
/**************/

body {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #5b5b5b;
    background-color: #fff;
    overflow-x: hidden;
    font-weight: 100;
}

p {
    margin: 0 0 0px;
}

a {
    color: white;
    text-decoration: none;
}

h2 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}

.h4, h4 {
    font-size: 14px;
    margin-top: 5px;
    line-height: 1.4;
}

h5 {
    font-size: 12px;
}

ul { 
    list-style: none; 
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    padding: 8px 0px;
}

input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
}

/*APP CSS*/

.titletext {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pageTitle{
    color: #F76E53;

}

.mainDesc{


}

.demoImage1{
    margin-top: 10px;
    margin-bottom: 10px;

}

.explanation1{
    margin-bottom: 10px;
}

.demoImage2{
    margin-top: 10px;
    margin-bottom: 10px;

}

.explanation2{
    margin-bottom: 10px;
    margin-bottom: 10px;
}

.headsUp{
    margin-bottom: 10px;
}

.headphones{
    padding-right: 5px;
    padding-left: 5px;
}

.submitGuide{
    display: flex;
    justify-content: center;
}

.mainbtnContainer{
    margin-top: 10px
}

.nextButton{
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #F76E53;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    outline: none;
    width: 220px;
}

.nextButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#canvasHolder{
    padding: 0px; 
}

.arButtons{
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #F76E53;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    outline: none;
    width: 130px;
}

.arButtons:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.audioButtons{
    margin-top: 10px;
    margin-bottom: 15px;
}

.audioControl{
    border-radius: 15px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: white; 
    border: 2px solid red;
    color: red;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    outline: none;
    width: 50px;

}
.audioControl:hover {
    color: #5b5b5b;
}

/* IMPORTANT - must give map div height */
/*#map-canvas { height:400px; }*/

/* IMPORTANT - fixes webkit infoWindow rendering */
/*#map-canvas img { max-width: none; }*/

.jumbotron {
	background-image: url("http://cdn.abclocal.go.com/content/wabc/images/cms/110515-wabc-washington-square-park-04-img.jpg");
	background-size: cover;
	color: white;
}


.tab-content{
/*    border: 2px solid red;
    border-radius: 5px;*/
    height: 360px;
    margin: 30px 0px;
}


#recordingslist audio { display: block; margin-bottom: 10px; }

.map{
	background-image: url("/img/mapofWSPark.png");
    background-size: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
}

#clearButton{
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid #5b5b5b;
    background-color: white;
    color: #5b5b5b;
    padding: 2px 5px;
    margin-bottom: 15px
}

.name{
	padding: 20px;
}

.nameinput{
	line-height: 50px;
    margin: 20px 0px;
}

.nextStep{
    margin-bottom: 20px;
}

.hitrecord{
	/*padding: 60px;*/
}

.audiobuttonholder{
    margin: 30px 0px;
}

.playbutton {
	background-color: #f44336; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.playbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.stopbutton {
	background-color: #555555; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.stopbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#defaultCanvas0{
	margin: 20px;
}

.submit{
	margin: 40px;
}

.submitbutton{
	margin: 20px;
	background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    border-radius: 4px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*margin: 4px 2px;*/
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.submitbutton:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



.animal {
    min-height: 550px;
}

.animal img {
    width: 100%;
}

#animal-holder{
    margin-top: 75px;
}